:root{
    --main: #196dc3;
    --main-font: #61c5fd;
    --font-title: #000;
    --font-subtitle: #8b8c8e;
    --font-soft: #cacbd1;
    --font-text: #515153;
    --font-search: #c6c7ca;
    --bg-general: #f5f8ff;
    --bg-components: #ffffff;
}