*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
}
:root{
  --main: #196dc3;
  --main-font: #61c5fd;
  --font-title: #000;
  --font-subtitle: #8b8c8e;
  --font-soft: #cacbd1;
  --font-text: #515153;
  --font-search: #c6c7ca;
  --bg-general: #f5f8ff;
  --bg-components: #ffffff;
}
body{
  width: 100%;
  height: 100vh;
  background-color: var(--bg-general);
  header{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 1rem 1.5rem 1rem;
    border-radius: 0 0 2rem 2rem;
    position: relative;
    .search{
      z-index: 1;
      width: 100%;
      height: 2.5rem;
      border-radius: 0.35rem;
      background-color: rgba(206, 206, 206, 0.2);
      display: flex;
      align-items: center;
      input{
        height: 100%;
        background-color: transparent;
      }
      input, ::placeholder{
        color: var(--font-search);
      }
      input[type=submit]{
        width: 2.5rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
      }
      input[type=submit]:hover{
        transform: scale(105%);
      }
      input[type=search]{
        outline: none;
        width: calc(100% - 2.5rem);
      }
      input[type=search]::-webkit-search-cancel-button{
        -webkit-appearance: none;
        height: 1.25em;
        width: 1.25em;
        margin-right: 0.75rem;
        background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
        background-size: contain;
      }
      input[type="search"]:focus::-webkit-search-cancel-button {
        opacity: .3;
        pointer-events: all;
      }
    }
    .product-info{
      z-index: 1;
      h5{
        color: var(--font-soft);
        font-weight: 300;
      }
      h2{
        color: #fff;
        padding: 0.4rem 0 0.5rem 0;
      }
      .price{
        display: flex;
        align-items: center;
        gap: 1rem;
        h3{
          color: var(--main-font);
        }
        h5{
          color: var(--font-soft);
          font-weight: 300;
          text-decoration: line-through;
        }
      }
    }
    .img-container{
      z-index: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 2rem 2rem;
      background: linear-gradient(180deg, rgba(241, 241, 241, 0.068), rgba(0, 0, 0, 0.4));
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
      img{
        z-index: -1;
      }
    }
    .slider{
      width: 100%;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      gap: 0.5rem;
      span{
        width: 0.33rem;
        height: 0.33rem;
        border-radius: 50%;
        background-color: #91c9fc;
      }
      span.selected{
        width: 0.5rem;
        height: 0.5rem;
        background-color: #3b9ef8;
      }
    }
  }
  header.article{
    height: 55%;
    transition: all 1s ease-in-out;
    .icon{
      width: 1rem;
      z-index: 1;
      color: white;
    }
  }
  main{
    min-height: 45%;
    padding: 1.5rem 0 0 0;
    color: var(--font-text);
    section{
      padding: 0 0 0.5rem 0;
      .title{
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 0 1rem;
        h4{
          color: var(--font-title);
        }
        h6{
          user-select: none;
          color: var(--main-font);
          cursor: pointer;
        }
      }
      article{
        cursor: pointer;
      }
    }
    section.article-list{
      ::-webkit-scrollbar{
        height:0;
        width:0;
      }
      .article-scroll{
        width: 100%;
        height: auto;
        display: flex;
        gap: 0.75rem;
        align-items: center;
        overflow-x: scroll;
        padding: 0.5rem 1rem;
        article{
          width: 9rem;
          height: 10rem;
          display: flex;
          flex: 0 0 8rem;
          align-items: end;
          box-shadow: 0 0 0.5rem 0.25rem #0000001a;
          border-radius: 0.75rem;
          position: relative;
          overflow: hidden;
          .article-info{
            z-index: 3;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: var(--bg-general);
            padding: 0.25rem 0.75rem;
            gap: 0.25rem;
            h5{
              width: 100%;
              color: var(--font-text);
            }
            .price{
              display: flex;
              align-items: center;
              gap: 0.5rem;
              h4{
                color: var(--font-title);
              }
              h5{
                color: var(--font-soft);
                font-weight: 300;
                text-decoration: line-through;
              }
            }
          }
          .img-container{
            z-index: 2;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: start;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            img{
              z-index: 1;
              width: 100%;
            }
          }
        }
      }
    }
    section.Categories{
      .categories-list{
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        gap: 1rem;
        article{
          height: 3rem;
          width: 100%;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          display: flex;
          div{
            width: calc(100% - 6rem);
            height: 100%;
            display: flex;
            align-items: center;
            user-select: none;
            h6{
              margin: 0 0 0 .25rem;
              color: var(--font-soft);
            }
          }
          .icon{
            width: 3rem;
            justify-content: center;
          }
        }
      }
    }
  }
  footer{
    padding: 0 1.5rem 1rem 1.5rem;
    background: linear-gradient(#196ec3d5, var(--main) 15%);
    
    color: var(--font-soft);
    border-radius: 2rem 2rem 0 0;
    h3{
      padding: 1rem 0 .5rem 0;
    }
    .row{
      display: flex;
      align-items: center;
      gap: .25rem;
    }
  }
} 