@import url(./icons/material-icons.css);
/*@import url(./icons/fawesome-all.css);*/
@import url(./colors.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
}
body{
  width: 100%;
  #root{
    width: 100%;
    min-height: 100vh;
  }
}
header{
  width: 100%;
  min-height: 60px;
  padding: 0 .75rem;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 5%, rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px);
  .logo{
    height: 2.5rem;
    svg{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .icon{
    font-size: 2em;
    font-weight: 300;color: #eee;
  }
  .icon:hover{
    text-shadow:0 0 4px 4px #000;
  }
  .icon,.logo{
    cursor: pointer;
  }
}
.img-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
::-webkit-scrollbar{
  height:0;
  width:0;
}
main{
  height: fit-content;
  color: var(--font-text);
  background-color: var(--bg-general);
  #heading{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
    position: relative;
    .search{
      position: absolute;
      top: 2rem;
      right: 1rem;
      z-index: 3;
      width: calc(100% - 2rem);
      max-width: 400px;
      height: 2.5rem;
      display: flex;
      align-items: center;
      border-radius: 0.35rem;
      background-color: rgba(206, 206, 206, 0.2);
      input{
        height: 100%;
        background-color: transparent;
      }
      input, ::placeholder{
        color: var(--font-search);
      }
      input[type=submit]{
        width: 2.5rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
      }
      input[type=submit]:hover{
        transform: scale(105%);
      }
      input[type=search]{
        outline: none;
        width: calc(100% - 2.5rem);
      }
      input[type=search]::-webkit-search-cancel-button{
        -webkit-appearance: none;
        height: 1.25em;
        width: 1.25em;
        margin-right: 0.75rem;
        /*background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;*/
        background: url(https://i.redd.it/an871k4o1sn51.png) no-repeat 50% 50%;
        background-size: contain;
      }
      input[type="search"]:focus::-webkit-search-cancel-button {
        opacity: .75;
        /*opacity: .3;*/
        pointer-events: all;
      }
    }
    scroll-container{
      width: 100%;
      height: calc(100% - 1.5rem);
      display: flex;
      position: relative;
      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      border-radius: 0 0 2rem 2rem;
      background-image: url(../../public/img/wall.jpg);
      background-size: cover;
      animation: auto-scroll 9s linear infinite;
      a,scroll-page{
				z-index: 2;
        display: flex;
        justify-content: center;
        position: relative;
        scroll-snap-align: center;
        width: 100%;
        height: 100%;
        flex: 0 0 100%;
        .img-container{
					z-index: 2;
          cursor: pointer;
          position: absolute;
          top: 0;
          display: flex;
          align-items: end;
          .product-info{
            z-index: 3;
            position: absolute;
            left: 2rem;
            bottom: 1.25rem;
            h5{
              color: var(--font-soft);
              font-weight: 300;
              user-select: none;
            }
            h2{
              color: #fff;
              padding: 0.4rem 0 0.5rem 0;
              text-shadow: 0 0 1rem #444;
            }
            .price{
              display: flex;
              align-items: center;
              user-select: none;
              gap: 1rem;
              h3{
                color: var(--main-font);
              }
              h5{
                color: var(--font-soft);
                font-weight: 300;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
    scroll-page::after{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      content: "";
    }
    nav{
      width: 100%;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      a{
        width: 0.33rem;
        height: 0.33rem;
        border-radius: 50%;
        background-color: #91c9fc;
      }
      a.selected{
        width: 0.5rem;
        height: 0.5rem;
        background-color: #3b9ef8;
      }
    }
  }
  @keyframes auto-scroll {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  #heading:hover{
    animation-play-state: paused;
  }
  section{
    .title{
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: .75rem 1rem .25rem 1rem;
      h4{
        color: var(--font-title);
      }
      h6{
        user-select: none;
        color: var(--main-font);
        cursor: pointer;
      }
    }
    article{
      cursor: pointer;
    }
  }
  section.article-list{
    .article-scroll{
      width: 100%;
      height: auto;
      display: flex;
      gap: .75rem;
      align-items: center;
      overflow-x: scroll;
      padding: .5rem 1rem;
      a,article{
        width: 9rem;
        height: 10rem;
        display: flex;
        flex: 0 0 8rem;
        align-items: end;
        box-shadow: 0 0 .375rem .125rem #0000001a;
        border-radius: .75rem;
        position: relative;
        overflow: hidden;
        transition: all 1s ease-in-out;
        user-select: none;
        .img-container{
          position: absolute;
          left: 0;
          top: 0;
        }
        .article-info{
          z-index: 3;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: var(--bg-general);
          padding: 0.25rem 0.75rem;
          gap: 0.25rem;
          h5{
            width: 100%;
            color: var(--font-text);
          }
          .price{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            h4{
              color: var(--font-title);
            }
            h5{
              color: var(--font-soft);
              font-weight: 300;
              text-decoration: line-through;
            }
          }
        }
      }
      a,article:hover{
        box-shadow: 0 0 .375rem .125rem #00000041;
        img{
          width: 101%;
        }
      }
    }
    .article-scroll.showAll{
      display: grid;
      overflow-x: unset;
      justify-content: center;
      a,article{
        width: unset;
      }
    }
  }
  section.Categories{
    .categories-list{
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1rem;
      gap: 1rem;
      article{
        height: 3rem;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        div{
          width: calc(100% - 6rem);
          height: 100%;
          display: flex;
          align-items: center;
          user-select: none;
          h6{
            margin: 0 0 0 .25rem;
            color: var(--font-soft);
          }
        }
        .icon,.img-container{
          width: 3rem;
          justify-content: center;
          img{
            width: 50%;
            height: 50%;
          }
        }
      }
    }
  }
}
main.article{
  display: flex;
  flex-direction: column;
  position: relative;
  #heading{
    height: 55vh;
    margin: 0;
    scroll-container{
      height: 100%;
    }
    .icon-container{
      position: absolute;
      top: 2rem;
      left: 1rem;
      z-index: 3;
      width: calc(100% - 2rem);
      display: flex;
      justify-content: space-between;
      .icon{
        color: white;
        text-shadow: 0 0 1rem #444;
        cursor: pointer;
        font-size: 1.625em;
      }
    }
    nav{
      position: absolute;
      bottom: .5rem;
      a{
        background-color: var(--font-soft);
        box-shadow: 0 0 2px 3px #0000000e;
      }
      a.selected{
        background-color: var(--bg-general);
      }
    }
  }
  .product-info{
    height: 45vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div{
      h1{
        color: #000;
        padding: 0.4rem 0 0.5rem 0;
      }
      .price{
        display: flex;
        align-items: center;
        gap: 1rem;
        h2{
          color: #000;
          font-weight: 500;
        }
        h4{
          color: var(--font-soft);
          font-weight: 300;
          text-decoration: line-through;
        }
      }
      h5{
        color: var(--font-subtitle);
        font-weight: 300;
        padding-bottom: .5rem;
      }
      #end{
        margin: 1.25rem 0 .5rem 0;
      }
      #color-list{
        display: flex;
        gap: 1rem;
        span{
          width: 1.875rem;
          height: 1.875rem;
          border-radius: 50%;
          padding: 2px;
          cursor: pointer;
          svg{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        #white svg{background-color: white;}
        #gray svg{background-color: gray;}
        #black svg{background-color: black;}
        #blue svg{background-color: blue;}
        .selected{
          border: 2px solid #78b8fa;
        }
        span svg:hover{
          box-shadow: 0 .25rem 1.5rem #1d67c29f;
        }
      }
      #size-list{
        width: 100%;
        height: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        background-color: #dde4f0;
        border-radius: 0.125rem;
        user-select: none;
        color: #a9aebb;
        span{
          width: 1.5rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.875em;
          cursor: pointer;
        }
        .selected{
          scale: 150%;
          font-size: 0.6em;
          border-radius: 0.25rem;
          background: linear-gradient(135deg, #479ef3, #1f6bbf);
          box-shadow: 0 .25rem 1.5rem #1d67c29f;
          color: #fff;
        }
      }
    }
  }
}
main.cart{
  section{
    padding: 1rem;
  }
  #heading{
    height: 4rem;
    flex-direction: row;
    justify-content: start;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.4));
    padding: 2rem 1rem 1.25rem 1rem;
    margin: 0;
    gap: 1rem;
    .icon{
			cursor: pointer;
      font-size: 1.625em;
    }
  }
  #cart{
    height: calc(100vh - 11.5rem);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1.25rem;
    article{
      width: 100%;
      height: 6rem;
      flex: 0 0 6rem;
      display: flex;
      user-select: none;
      .img-container{
        width: 6rem;
        border-radius: .25rem;
      }
      .article-info{
        width: calc(100% - 6rem);
        height: 100%;
        color: #000;
        display: flex;
        flex-direction: column;
        padding: .5rem 0 .5rem 1rem;
        justify-content: space-between;
        h4{
          font-weight: 300;
        }
        .article-options{
          display: flex;
          gap: .5rem;
          h5{
            color: var(--font-subtitle);
            text-transform: capitalize;
          }
          .size{
            text-decoration: dotted;
            text-transform: uppercase;
          }
        }
        
        .article-price{
          width: 100%;
          display: flex;
          align-items: end;
          justify-content: space-between;
          padding-top: .5rem;
          h4{
            font-weight: 600;
          }
          .article-unit{
            z-index: 2;
            display: flex;
            align-items: center;
            background-color: #dfe0e7;
            border-radius: .5rem;
            color: #000;
            gap: .5rem;
            h5{
              color: #000;
            }
            button{
              cursor: pointer;
              background: transparent;
            }
          }
        }
      }
      
    }
  }
  .empty{
    background-image: url(../../public/img/i/empty-cart.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
  }
  #price{
    z-index: 3;
    bottom: 0;
    position: sticky;
    width: 100%;
    height: 7.5rem;
    padding-bottom: 1rem;
    background-color: var(--bg-general);
    box-shadow: 0 0 .5rem .25rem #00000010;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    #total{
      display: flex;
      align-items: end;
      justify-content: space-between;
      h3{
        color: #000;
      }
    }
  }
}
button#end{
  width: 100%;
  height: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(135deg, #4298ee, #1d67c2);
  box-shadow: 0 .25rem 1.5rem #1d67c29f;
  border-radius: .5rem;
  font-size: 1.125em;
  color: #fff;
}
button#end:hover{
  scale: 102%;
}
footer{
  width: 100%;
  padding: 0 1.5rem 1rem 1.5rem;
  background: linear-gradient(rgba(37, 38, 43, 0.055), rgb(37, 38, 43) 10%);
  color: var(--bg-general);
  h3{
    padding: 1rem 0 .5rem 0;
  }
  .contacts{
    flex-direction: column;
    gap: .5rem;
    .row{
      display: flex;
      align-items: center;
      gap: .25rem;
      h5{
        font-weight: 200;
      }
    }
  }
  
}
.flex{
  display: flex;
}

/*Pipipi*/
@media (min-width: 270px) {
	.article-scroll.showAll{
		grid-template-columns: repeat(2,1fr);
	}
}
@media (min-width: 400px) {
  #heading scroll-container{
    .img-container{
      width: 400px;
    }
  }
	.article-scroll.showAll{
		grid-template-columns: repeat(3,1fr);
	}
}
@media (min-width: 600px) {
  .article-scroll.showAll{
		grid-template-columns: repeat(4,1fr);
	}
}
@media (min-width: 700px) {
  .article-scroll.showAll{
		grid-template-columns: repeat(5,1fr);
	}
}
@media (min-width: 800px) {
  body{
    background-image: url(../../public/img/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #root{
    display: flex;
    flex-direction: column;
    align-items: center;
    main{
      width: 800px;
      section.article-list{
        ::-webkit-scrollbar{
          height:10px;
          width:0;
        }
        ::-webkit-scrollbar-thumb{
          border-radius: 3px;
          background-color: rgba(97, 196, 253, 0.5);
          cursor: grab;
        }
        ::-webkit-scrollbar-thumb:hover{
          background-color: var(--main-font);
        }
        ::-webkit-scrollbar-thumb:active{
          cursor: grabbing;
        }
      }
    }
  }
}